.Footer-container {
    background-color: #000000;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    user-select: none;
}

.Footer-content {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: auto;
}

.Footer-title {
    font-size: 13px;
    font-weight: 100;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}   

.Footer-dev {
    font-size: 13px;
    font-weight: 400;
    list-style: none;
    margin: 0;
}

.Footer-dev a {
    color: #fff;
    text-decoration: none;
    transition: opacity 0.3s ease;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
}

.Footer-dev a:hover {
    opacity: 0.6;
}

/* For Tablets - 768px */
@media screen and (max-width: 768px) {
    .Footer-container {
        flex-direction: column;
        text-align: center;
        padding: 15px;
    }

    .Footer-content {
        position: static; /* Removes absolute positioning */
        transform: none;
        width: 100%;
    }

    .Footer-title {
        font-size: 12px;
    }

    .Footer-dev {
        margin-top: 10px;
        font-size: 12px;
    }
}

/* For Mobile Devices - 480px */
@media screen and (max-width: 480px) {
    .Footer-container {
        padding: 20px;
        text-align: center;
        flex-direction: column;
    }

    .Footer-title {
        font-size: 10px; /* Smaller text for compact screens */
    }

    .Footer-dev {
        font-size: 10px;
        margin-top: 8px;
    }

    .Footer-dev a {
        font-size: 10px;
    }
}

/* For Small Mobile Devices - 320px */
@media screen and (max-width: 320px) {
    .Footer-container {
        padding: 15px;
        text-align: center;
        flex-direction: column;
    }

    .Footer-title {
        font-size: 9px; 
    }

    .Footer-dev {
        font-size: 9px;
        margin-top: 5px;
    }

    .Footer-dev a {
        font-size: 9px;
    }
}



