.mvv-section {
  text-align: center;
  padding: 50px 20px;
  background-color: #d9e2e9;
}

.vision-title {
  text-align: center;
  margin-bottom: 3rem;
  user-select: none;
}

.vision-title h1 {
  font-size: 3.5rem;
  color: #272727;
  margin-bottom: 1rem;
  position: relative;
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.vision-title h1::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 4px;
  background: linear-gradient(90deg, #008cff, #00f2fe);
  border-radius: 2px;
}


.mvv-container {
  display: flex;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
}

.mvv-card {
  background-color: #fff;
  border-radius: 15px;
  width: 300px;
  padding: 50px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.mvv-card:hover {
  transform: translateY(-5px);
}

.card-header {
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  background-color: #222b62; 
  color: #fff;
  font-weight: bold;
  border-bottom-left-radius: 70px;
  border-bottom-right-radius: 70px;
  text-shadow: 0px 2px 0px black;
  padding: 20px 0;
  font-size: 2rem;
  font-family: "Montserrat", sans-serif;
  border-bottom: 1px solid black;
}

.card-header.vision {
  background-color: #f9c213; 
}

.card-header.values {
  background-color: #c02627;
}

.card-content {
  padding-top: 40px;
}

.card-icon i {
  font-size: 70px;
  color: #222b62;
  margin-bottom: 15px;
  margin-top: 25px;
}

.card-icon .fa-eye {
  color: #f9c213;
}

.card-icon .fa-gem {
  color: #c02627;
}

.card-content p {
  font-size: 15px;
  text-align: justify;
  font-family: 'Montserrat', sans-serif;
  color: rgb(77, 75, 75);
  user-select: none;
}


@media screen and (max-width: 480px) {
  .mvv-section {
    width: 510px;
  }
  .mvv-card {
    width: 100%; 
    padding: 25px;
  }

  .vision-title h1 {
    font-size: 2.5rem;  
  }

  .card-header {
    font-size: 1.5rem;  
    padding: 15px 0;
  }

  .card-content p {
    font-size: 14px; 
  }

  .card-icon i {
    font-size: 50px; 
  }
}

@media screen and (max-width: 320px) {
  .mvv-card {
    width: 100%;  
    padding: 20px;
  }

  .vision-title h1 {
    font-size: 2rem; 
  }

  .card-content p {
    font-size: 12px;
  }

  .card-icon i {
    font-size: 40px;
  }
}