.mvv-section {
  text-align: center;
  padding: 50px 20px;
  background: url("../../img/2footerdesign.png")no-repeat center center;
  background-size: cover;
  height: 100%;
}

.vision-title {
  text-align: center;
  margin-bottom: 3rem;
  user-select: none;
}

.vision-title h1 {
  font-size: 40px;
  color: #2d3436;
  margin-bottom: 1rem;
  position: relative;
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.vision-title h1::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 4px;
  background: linear-gradient(90deg, #008cff, #00f2fe);
  border-radius: 2px;
}


.mvv-container {
  display: flex;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
  padding-bottom: 100px;
}

.mvv-card {
  background-color: #fff;
  border-radius: 15px;
  width: 300px;
  padding: 50px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.808);
  transition: transform 0.3s ease;
}

.mvv-card:hover {
  transform: translateY(-5px);
}

.card-header {
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  background-color: #222b62; 
  color: #fff;
  font-weight: bold;
  border-bottom-left-radius: 70px;
  border-bottom-right-radius: 70px;
  text-shadow: 0px 2px 5px black;
  padding: 20px 0;
  font-size: 2rem;
  font-family: "Montserrat", sans-serif;
  border-bottom: 1px solid black;
}

.card-header.vision {
  background-color: rgb(240, 199, 18); 
}

.card-header.values {
  background-color: #c02627;
}

.card-content {
  padding-top: 40px;
}

.card-icon i {
  font-size: 70px;
  color: #222b62;
  margin-bottom: 15px;
  margin-top: 25px;
  text-shadow: 0px 2px 2px black;
}

.card-icon .fa-eye {
  color: #f9c213;
  text-shadow: 0px 2px 2px black;
}

.card-icon .fa-gem {
  color: #c02627;
  text-shadow: 0px 2px 2px black;
}



.card-content p {
  font-size: 15px;
  text-align: justify;
  font-family: 'Montserrat', sans-serif;
  color: #2d3436;
  font-weight: 400;
  user-select: none;
}


@media screen and (max-width: 768px) {
  .mvv-container {
      gap: 20px;  
      padding-bottom: 50px; 
  }

  .mvv-card {
      width: 40%;   
      padding: 30px;
  }

  .vision-title h1 {
      font-size: 2.5rem;
  }

  .card-content p {
      font-size: 14px;
  }

  .card-icon i {
      font-size: 50px;
  }
}

@media screen and (max-width: 480px) {
  .mvv-container {
      flex-direction: column; 
      gap: 30px; 
  }

  .mvv-card {
      width: 85%;  
      padding: 25px;
  }

  .vision-title h1 {
      font-size: 2.2rem;
  }

  .card-content p {
      font-size: 13px;
  }

  .card-icon i {
      font-size: 45px;
  }
}

@media screen and (max-width: 320px) {
  .mvv-container {
      flex-direction: column;
      
  }

  .mvv-card {
      width: 82%;  
      
  }

  .vision-title h1 {
      font-size: 2rem;
  }

  .card-content p {
      font-size: 12px;
  }

  .card-icon i {
      font-size: 40px;
  }
}
