.header {
  width: 100%;
  height: auto;
  user-select: none;
 }

.header-name {
  display: flex;
  gap: 50px;
  justify-content: space-between;
  padding: 20px;
}

.header-title {
  font-size: 2rem;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
}

.date-time {
  font-family: "Montserrat", sans-serif;
}

.date-time span {
  margin-left: 30px;
}

@media screen and (max-width: 768px) {
  
  .header-title {
    font-size: 0.8rem;
    font-weight: 500;
  }

  .date-time {
    font-size: 0.7rem;
  }
  
}

@media screen and (max-width: 480px) {
  
  .header-title {
    font-size: 0.7rem;
    font-weight: 500;
  }

  .date-time {
    display: none;
  }
  
}



