.sider {
  height: 100vh;
  position: fixed;
  left: 0;
  bottom: 0;
  top: 0;
  transition: width 0.3s ease;
  box-shadow: 0px 0px 5px black;
}

.sider.collapsed {
  width: 80px !important;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}

.logo img {
  height: 50px;
  transition: all 0.3s ease-in-out;
}

.sider.collapsed .logo img {
  height: 40px;
}

.menu-bar {
  width: 100%;
  border: none !important;
}

.trigger-btn {
  width: 100%;
  position: absolute;
  bottom: 10px;
}
