.Team-container h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 2rem;
    user-select: none;
}



.ant-table-thead > tr > th {
    background-color: #222b62 !important;
    color: white !important; 
    font-size: 16px;
    user-select: none;
  }

  .ant-table-tbody > tr > td {
    user-select: none;
    text-align: justify;
  }

.table-team {
    user-select: none;
    width: 100%;
    overflow-x: auto;
}

.table-team img, .table-team video {
  border-radius: 8px;
  object-fit: cover;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}


/*BUTTON*/

.edit-btn-team {
    width: 100px;
    font-family: "Montserrat", sans-serif;
    margin-right: 10px;
    background-color: #43c502 !important; 
    color: white !important;
}

.edit-btn-team:hover {
    background-color: #43e000 !important; 
    border-color:#43e000 !important;
  }

.del-btn-team {
    width: 100px;
    font-family: "Montserrat", sans-serif;
}

.add-btn-team {
    margin-bottom: 20px;
}
  
@media screen and (max-width: 768px) {
  .table-team img, .table-team video {
    height: 100px;
  }
 
  .ant-table-tbody > tr > td {
    text-align: justify;
  }
}

.vision-note {
  font-weight: bold;
  font-family: italic;
}

.footer-turks {
  color: black;
}